/*Global*/
body {
  font-family: 'Raleway', sans-serif;
  background-color: #2D5F32;
}

/*Landing page*/
.homepage-image{
  width: 100%;
}

#getting-started-button {
  margin-left:30%;
  background: tan;
  font-size: 40px;
  height: 80px;
  width: 400px;

}

.homepage-logo {
  font-size:80px;
  color: black;
}

/*Index Page*/

#getting-started-panel {
  background-color:tan;
  height: 200px;
  border-radius: 25px;
}

/*States page*/
.scroll-states{
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

#getting-started-panel-state-dropdown{
  background-color: white;
  font-size: 20px;
  margin-left: 33.3%;
  width: 300px;
  height:75px;
  border-radius: 5px;
}

/*State Page*/

.state-logo img{
  height: 100%;
  width: 100%;
}

#state-panel {
  background-color:tan;
  height: 500px;
  border-radius: 25px;
}


#state-logo-box {
  height: 100%;
  width: 100%;
  border-color: black;
  border-style: solid;
}

#left-panel{
  border-color: black;
  border-style: solid;
  height: 500px;
}

#dummy-map {
  height:300px;
  border-color: black;
  border-style: solid;
}

#map-panel{
  border-color: black;
  border-style: solid;
  height: 500px;
}

#right-panel{
  border-color: black;
  border-style: solid;
  height: 500px;
}

#brewery-list {
  width: 100%;
}

/*Brewery Page*/
#brewery-panel {
  margin-top: 15px;
  height:600px;
}


#brewery-logo-image{
  width: 100%;
}

#brewery-top-bar{
  color: black;
  background-color: white;
}





