<div class="row">
  {{!-- spacing --}}
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h1 class="homepage-logo">Welcome to Beerica 2.0!</h1>
    <button id="getting-started-button" class="btn btn-large">{{#link-to 'states.index'}}Get Started{{/link-to}}</button>
    <img class="homepage-image" src="assets/images/blank-map.png">
  </div>
  
  <div class="col-md-2"></div>

</div>

{{outlet}}
