<div class="row">
  {{!-- Spacing --}}
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <h1>States</h1>  
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu scroll-states">
        {{#each model as |state|}}
          <li>{{#link-to 'states.state' state}}{{state.name}}{{/link-to}}</li>
        {{/each}} 
      </ul>
    </div>

  </div>
  {{!-- Spacing --}}
  <div class="col-md-2"></div>
</div>


<div class="row">
  {{outlet}}
</div>

